h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 1% auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

#scores {
  width: 10%;
  padding: 2px;
  border: 1px solid;
  margin: 1% auto;
  text-align: center;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
}

.ghost {
  background-color: gray;
}

.food {
  background-color: #f00;
}
